<html>
  <head>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      // Load the Visualization API and the required packages.
      google.charts.load('current', {'packages':['corechart']});
      google.charts.load("current", {'packages':["calendar"]});
      google.charts.load('current', {'packages':['treemap']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {
        %(jscode)s
        %(jscode2)s
        %(jscode3)s
        %(jscode4)s
        %(jscode5)s
        %(jscode6)s
        %(jscode7)s
        // (jscode8)s
        %(jscode_aut)s

        // Set chart options
        var options_pie = {'title':'Numero de commits',
                       'width':400,
                       'height':300};

        var options_lines = {
            title: 'Commits a lo largo del tiempo',
            curveType: 'function',
            lineWidth: 4,
            intervals: { 'style':'line' },
            legend: 'none'
        };

        var options_calendar = {
            title: "Actividad del repositorio",
            height: 350,
        };

        var options_col = {
            title: "Proyectos con mas commits",
            width: 600,
            height: 400
        };

        var options_trend = {
            title: 'Actividad media en los repositorios',
            hAxis: {title: 'Dia'},
            vAxis: {title: 'Media de commits', minValue: 0},
            legend: 'none',
            crosshair: { trigger: 'both', orientation: 'both' },
            trendlines: {
                0: {
                    type: 'polynomial',
                    degree: 5,
                    visibleInLegend: false,
                }
            }
        };

        var options_sb = {
            width: 600,
            height: 400,
            isStacked: true,
            legend: { position: 'top', maxLines: 3 },
            vAxis: {format: 'dd - mm - YYYY'}
        };

        var options_combo = {
            title : 'Comparativa de commits',
            vAxis: {title: 'Commits'},
            hAxis: {title: 'Dias'},
            seriesType: 'bars',
            series: {5: {type: 'line'}}
        };

        /*var options_treemap = {
            minColor: '#f00',
            midColor: '#ddd',
            maxColor: '#0d0',
            headerHeight: 15,
            fontColor: 'black',
            showScale: true
        };*/

        var options_aut_col = {
            title: "Porcentaje de commits en el proyecto %(proy_aut)s",
            width: 1200,
            height: 500,
            legend: 'none',
            hAxis: {title: 'Usuario (Totales: %(user_aut)s)'},
            vAxis: {title: 'Porcentaje de commits (Totales: %(comm_aut)s)', minValue: 0.5}
        };

        var options_aut_pie = {
            title: 'Commits en el repositorio (Totales: %(comm_aut)s)',
            widht: 500,
            height: 500,
            legend: 'none',
            pieSliceText: 'label',
            slices: { 15: {offset: 0.3},
            },
        };

        // Instantiate and draw our chart, passing in some options.
        var chart_pie = new google.visualization.PieChart(document.getElementById('chart_pie_div'));
        chart_pie.draw(jscode_data, options_pie);

        var chart_lines = new google.visualization.LineChart(document.getElementById('chart_line_div'));
        chart_lines.draw(jscode2_data, options_lines);

        var chart_cal = new google.visualization.Calendar(document.getElementById('chart_cal_div'));
        chart_cal.draw(jscode3_data, options_calendar);

        var chart_col = new google.visualization.ColumnChart(document.getElementById('chart_col_div'));
        chart_col.draw(jscode4_data, options_col);

        var chart_trend = new google.visualization.ScatterChart(document.getElementById('chart_trend_div'));
        chart_trend.draw(jscode5_data, options_trend);

        var chart_trend = new google.visualization.ScatterChart(document.getElementById('chart_trend_div'));
        chart_trend.draw(jscode5_data, options_trend);

        var chart_combo = new google.visualization.ComboChart(document.getElementById('chart_combo_div'));
        chart_combo.draw(jscode6_data, options_combo);

        var chart_sb = new google.visualization.BarChart(document.getElementById('chart_sb_div'));
        chart_sb.draw(jscode7_data, options_sb);

        /*var chart_treemap = new google.visualization.TreeMap(document.getElementById('chart_treemap_div'));
        chart_treemap.draw(jscode8_data, options_treemap);*/

        var chart_aut_col = new google.visualization.ColumnChart(document.getElementById('chart_aut_col_div'));
        chart_aut_col.draw(jscode_aut_data, options_aut_col);

        var chart_aut_pie = new google.visualization.PieChart(document.getElementById('chart_aut_pie_div'));
        chart_aut_pie.draw(jscode_aut_data, options_aut_pie);

      }
    </script>
  </head>

  <body>
    <h1>Pruebas con datos aleatorios</h1>
    <!--Div that will hold the pie chart-->
    <div id="chart_pie_div"></div>
	<!--Div that will hold the line chart-->
    <div id="chart_line_div"></div>
    <!--Div that will hold the cal chart-->
    <div id="chart_cal_div"></div>
    <!--Div that will hold the col chart-->
    <div id="chart_col_div"></div>
    <!--Div that will hold the trend chart-->
    <div id="chart_trend_div"></div>
    <!--Div that will hold the combo chart-->
    <div id="chart_combo_div"></div>
    <!--Div that will hold the stacked bar chart-->
    <div id="chart_sb_div"></div>
    <!--Div that will hold the treemap chart-->
    <!--div id="chart_treemap_div"></div-->
    <h1>Graficas con datos reales</h1>
    <div id="chart_aut_col_div"></div>
    <div id="chart_aut_pie_div"></div>
  </body>
</html>