<html>
  <head>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      // Load the Visualization API and the required packages.
      google.charts.load('current', {'packages':['corechart']});
      google.charts.load("current", {'packages':["calendar"]});
      google.charts.load('current', {'packages':['treemap']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {
        %(jscode)s
        
        var grafico = {'Grafico':'%(grafico)s'};
        // Set chart options
        var PieChart_options = {'title':'Numero de commits',
                       'width':400,
                       'height':300};

        var LineChart_options = {
            title: 'Commits a lo largo del tiempo',
            curveType: 'function',
            lineWidth: 4,
            intervals: { 'style':'line' },
            legend: 'none'
        };

        var Calendar_options = {
            title: "Actividad del repositorio",
            height: 350,
        };

        var ColumnChart_options = {
            title: "Usuarios con mas commits",
            width: 1200,
            height: 500
        };

        var ScatterChart_options = {
            title: 'Actividad media en los repositorios',
            hAxis: {title: 'Dia'},
            vAxis: {title: 'Media de commits', minValue: 0},
            legend: 'none',
            crosshair: { trigger: 'both', orientation: 'both' },
            trendlines: {
                0: {
                    type: 'polynomial',
                    degree: 5,
                    visibleInLegend: false,
                }
            }
        };

        var BarChart_options = {
            width: 600,
            height: 400,
            isStacked: true,
            legend: { position: 'top', maxLines: 3 },
            vAxis: {format: 'dd - mm - YYYY'}
        };

        var ComboChart_options = {
            title : 'Comparativa de commits',
            vAxis: {title: 'Commits'},
            hAxis: {title: 'Dias'},
            seriesType: 'bars',
            series: {5: {type: 'line'}}
        };

        /*var options_treemap = {
            minColor: '#f00',
            midColor: '#ddd',
            maxColor: '#0d0',
            headerHeight: 15,
            fontColor: 'black',
            showScale: true
        };*/

        /*var options_ColumnChart2 = {
            title: "Porcentaje de commits en el proyecto (proy_aut)s",
            width: 1200,
            height: 500,
            legend: 'none',
            hAxis: {title: 'Usuario (Totales: (user_aut)s)'},
            vAxis: {title: 'Porcentaje de commits (Totales: (comm_aut)s)', minValue: 0.5}
        };*/

        
        %(ejecucion)s
        %(opciones)s

      }
    </script>
  </head>

  <body>
    <div id="ColumnChart_div"></div>
    <!--h1>Pruebas con datos aleatorios</h1>
    <div id="chart_pie_div"></div>
    <div id="chart_line_div"></div>
    <div id="chart_cal_div"></div>
    <div id="chart_col_div"></div>
    <div id="chart_trend_div"></div>
    <div id="chart_combo_div"></div>
    <div id="chart_sb_div"></div-->
    <!--Div that will hold the treemap chart-->
    <!--div id="chart_treemap_div"></div-->
    <!--h1>Graficas con datos reales</h1>
    <div id="chart_aut_col_div"></div>
    <div id="chart_aut_pie_div"></div-->
  </body>
</html>